<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MonitoringMapper">
	
	<!--表名 -->
	<sql id="tableName">
		st_conf_main_table
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		id,	
		r_id,	
		str_time,	
		sy_time,	
		cyc,	
		i_drainage_f,	
		i_supply_f,	
		l_drainage_f,	
		l_supply_f,	
		r_supply_f
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{id},	
		#{r_id},	
		#{str_time},	
		#{sy_time},	
		#{cyc},
		#{i_drainage_f},
		#{i_supply_f},
		#{l_drainage_f},
		#{l_supply_f},	
		#{r_supply_f}
	</sql>
	<!--公司视频 -->
	<select id="map_video" parameterType="pd" resultType="pd">
	select * from conf_site_video where r_id=#{R_ID} 
	</select>
	<!--控制器在线情况 -->
	<select id="map_online" parameterType="pd" resultType="pd">
	select * from src_device_online where r_id=#{R_ID} and device_type=1 order by sy_time desc limit 1
	</select> 
	
	
	<!--公司7日流量 -->
	<select id="water_day" parameterType="pd" resultType="pd">
	select * from calc_flow_day_sum where r_id=#{R_ID} and sy_time&gt;=#{start_sy_time} and sy_time&lt;=#{end_sy_time}
	</select>
	<select id="com_water_type" parameterType="pd" resultType="pd">
	select * from conf_site_device where r_id=#{R_ID}
	</select>
	
	<!--公司单个水质报警预警 -->
	<select id="warning_poll_r_id" parameterType="pd" resultType="pd">
		<!-- SELECT SUM(limit_num)sumReal from st_main_table_real_warning WHERE r_id in(#{ridList}) -->
		
		select *  from st_main_table_real_2 where param_type in (7,8,9) and r_id in(${ridList})and limit_type=${mySelect} and (waring_tag=1 or early_waring_tag=1) GROUP BY r_id
	
	</select>

	<!--公司水质报警 -->
	<select id="warning_r_id" parameterType="pd" resultType="pd">
		<!-- SELECT SUM(limit_num)sumReal from st_main_table_real_warning WHERE r_id in(#{ridList}) -->
		
		select *  from st_main_table_real_2 where param_type in (7,8,9) and r_id in(${ridList}) and waring_tag=1 GROUP BY r_id
	</select>
	<!--公司水质预警 -->
	<select id="early_r_id" parameterType="pd" resultType="pd">
		<!-- SELECT SUM(limit_num)sumReal from st_main_table_real_warning WHERE r_id in(#{ridList}) -->
		
		select *  from st_main_table_real_2 where param_type in (7,8,9) and r_id in(${ridList}) and early_waring_tag=1 GROUP BY r_id
	</select>
	
	<!-- 报警总数 -->
	<select id="sumReal" parameterType="pd" resultType="pd">
		<!-- SELECT SUM(limit_num)sumReal from st_main_table_real_warning WHERE r_id in(#{ridList}) -->
		SELECT count(id)sumReal FROM st_main_table_real_2 WHERE r_id in(${ridList}) and  waring_tag=1 
	</select>
	
	<!-- 预警总数 -->
	<select id="sumEarly" parameterType="pd" resultType="pd">
		<!-- SELECT SUM(limit_num)sumEarly from st_main_table_real_early_warning WHERE r_id in(#{ridList}) -->
		SELECT count(id)sumEarly FROM st_main_table_real_2 WHERE r_id in(${ridList}) and  early_waring_tag=1 
	</select>
	
	<!-- 预警详细 -->
	<select id="listEarly" parameterType="pd" resultType="pd">
		SELECT * FROM st_main_table_real_2 WHERE r_id in(${ridList})   and  early_waring_tag=1 
	</select>
	
	<!-- 预警公司总数 -->
	<select id="earlyRid" parameterType="pd" resultType="pd">
	select  count(a.r_id)earlyRid from (
		SELECT r_id ,count(r_id)earlyRid FROM st_main_table_real_2 WHERE r_id in(${ridList}) and  early_waring_tag=1 GROUP BY r_id) a
	</select>
	
	
	<!-- 报警详细 -->
	<select id="listReal" parameterType="pd" resultType="pd">
		SELECT * FROM st_main_table_real_2 WHERE r_id in(${ridList})   and  waring_tag=1
	</select>
	
	<!-- 报警公司总数 -->
	<select id="realRid" parameterType="pd" resultType="pd">
	select  count(a.r_id)realRid from (
		SELECT r_id , count(r_id)realRid FROM st_main_table_real_2 WHERE r_id in(${ridList}) and  waring_tag=1 GROUP BY r_id) a
	</select>
	

	<!-- fh313596790qq(青苔) -->
</mapper>