<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Poll_SumService">
	

	<sql id="tableName">
		st_all_quality_01_5min_w
	</sql>
	<sql id="tableName2">
		st_all_quality_02_5min_w
	</sql>
	<sql id="tableName3">
		st_all_quality_03_5min_w
	</sql>
	<sql id="Field">
		 r_id,	
		 str_time,
		 sy_time,
		 flow_total,
		 flow_5min,
		 cyc,
		q_PH,
		q_temp,
		q_turbidity,
		q_conductivity,
		q_DO,
		q_COD,
		q_COD_Mn,
		q_NH4,
		q_TOC,
		q_TP,
		q_TN,
		q_NO3,
	    q_Phe,
		q_CN,
		q_chlorophyll,
		q_b_g_algae,
		q_FDOM,
		q_VOCs,
		q_nitrite,
		q_CrCl3_6H2O,
		q_Pb,
		q_Cd,
		q_Cu,
		q_Hg,
		q_As,
		q_Fe,
		q_Cr6,
		q_Mn,
		q_Ni,
		q_Zn,
		q_tss,
		q_MnO4,
		q_Salinity,
		q_Phosphate,
		q_Sulfate,
		q_NH42
		
		
		
		  
	</sql>
	<sql id="Field2">
		
		 
		q_An,
		q_F,
		q_S,
		q_Poison,
		q_tC2H2Cl2,
		q_fC2H2Cl2,
		q_CHCl3,
		q_C2H2Cl2,
		q_Benzene,
		q_C2HCl3,
		q_C7H8,
		q_C2Cl4,
		q_C6H5Cl,
		q_C6H5C2H5,
		q_C8H10,
		q_C8H8,
			q_C6H4CH32,
		q_C9H12,
		q_14C6H4Cl2,
		q_12C6H4Cl2,
		q_C2H3Cl,
		q_C2H4O,
		q_C3H4O,
		q_11C2H2Cl2,
		q_C3H3N,
		q_CH2CClCHCH2,
		q_CHBr3,
		q_C10H16,
		q_C4Cl6,
		q_CH2Cl2,
		q_OC,
		
		q_C6H5NO2,
		q_C6H4N2O4,
		q_C6H3Cl3,
		q_C6H4Cl2

		  
	</sql>
	
	<sql id="Field3">
	q_spare01
q_spare02
q_spare03
q_spare04
q_spare05
q_spare06
q_spare07
q_spare08
q_spare09
q_spare10
q_spare11
q_spare12
q_spare13
q_spare14
q_spare15
q_spare16
q_spare17
q_spare18
q_spare19
q_spare20
q_spare21
q_spare22
q_spare23
q_spare24
q_spare25
	</sql>
	
	
	
		<!-- 字段值 -->
	<sql id="FieldValue">
		
		  #{r_id},	
		 #{str_time},
		 #{sy_time},
		#{ flow_total},
		#{ flow_5min},
		#{ cyc},
		#{q_PH},
		#{q_temp},
		#{q_turbidity},
		#{q_conductivity},
		#{q_DO},
		#{q_COD},
		#{q_COD_Mn},
		#{q_NH4},
		#{q_TOC},
		#{q_TP},
		#{q_TN},
		#{q_NO3},
	   #{ q_Phe},
		#{q_CN},
		#{q_chlorophyll},
		#{q_b_g_algae},
		#{q_FDOM},
		#{q_VOCs},
		#{q_nitrite},
		#{q_CrCl3_6H2O},
		#{q_Pb},
		#{q_Cd},
		#{q_Cu},
		#{q_Hg},
		#{q_As},
		#{q_Fe},
		#{q_Cr6},
		#{q_Mn},
		#{q_Ni},
		#{q_Zn},
		#{q_tss},
		#{q_MnO4},
		#{q_Salinity},
		#{q_Phosphate},
		#{q_Sulfate},
		#{q_NH42}
		
	</sql>
	
		<!-- 字段值 -->
	<sql id="FieldValue2">
		
		
		
		
		#{q_An},
		#{q_F},
		#{q_S},
		#{q_Poison},
		#{q_tC2H2Cl2},
		#{q_fC2H2Cl2},
		#{q_CHCl3},
		#{q_C2H2Cl2},
		#{q_Benzene},
		#{q_C2HCl3},
		#{q_C7H8},
		#{q_C2Cl4},
		#{q_C6H5Cl},
		#{q_C6H5C2H5},
		#{q_C8H10},
		#{q_C8H8},
			#{q_C6H4CH32},
		#{q_C9H12},
		#{q_14C6H4Cl2},
		#{q_12C6H4Cl2},
		#{q_C2H3Cl},
		#{q_C2H4O},
		#{q_C3H4O},
		#{q_11C2H2Cl2},
		#{q_C3H3N},
		#{q_CH2CClCHCH2},
		#{q_CHBr3},
		#{q_C10H16},
		#{q_C4Cl6},
		#{q_CH2Cl2},
		#{q_OC},
		
		#{q_C6H5NO2},
		#{q_C6H4N2O4},
		#{q_C6H3Cl3},
		#{q_C6H4Cl2}
	</sql>
	<sql id="FieldValue3">
	#{q_spare01},
    #{q_spare02},
	#{q_spare03},
	#{q_spare04},
	#{q_spare05},
	#{q_spare06},
	#{q_spare07},
	#{q_spare08},
	#{q_spare09},
	#{q_spare10},
	#{q_spare11},
	#{q_spare12},
	#{q_spare13},
	#{q_spare14},
	#{q_spare15},
	#{q_spare16},
	#{q_spare17},
	#{q_spare18},
	#{q_spare19},
	#{q_spare20},
	#{q_spare21},
	#{q_spare22},
	#{q_spare23},
	#{q_spare24},
	#{q_spare25}
	</sql>
	
	
	<!-- 列表 -->
	<select id="list_poll_all_sum" parameterType="pd" resultType="pd">
		select
		 r_id,	
		 str_time,
		 sy_time,
		 flow_total,
		 sum(flow_5min) flow_5min,
		sum(q_PH) q_PH,
		sum(q_temp)q_temp,
		sum(q_turbidity)q_turbidity,
		sum(q_conductivity)q_conductivity,
		sum(q_DO)q_DO,
		sum(q_COD)q_COD,
		sum(q_COD_Mn)q_COD_Mn,
		sum(q_NH4)q_NH4,
		sum(q_TOC)q_TOC,
		sum(q_TP)q_TP,
		sum(q_TN)q_TN,
		sum(q_NO3)q_NO3,
	    sum(q_Phe)q_Phe,
		sum(q_CN)q_CN,
		sum(q_chlorophyll)q_chlorophyll,
		sum(q_b_g_algae)q_b_g_algae,
		sum(q_FDOM)q_FDOM,
		sum(q_VOCs)q_VOCs,
		sum(q_nitrite)q_nitrite,
		sum(q_CrCl3_6H2O)q_CrCl3_6H2O,
		sum(q_Pb)q_Pb,
		sum(q_Cd)q_Cd,
		sum(q_Cu)q_Cu,
		sum(q_Hg)q_Hg,
		sum(q_As)q_As,
		sum(q_Fe)q_Fe,
		sum(q_Cr6)q_Cr6,
		sum(q_Mn)q_Mn,
		sum(q_Ni)q_Ni,
		sum(q_Zn)q_Zn,
		sum(q_tss)q_tss,
		sum(q_MnO4)q_MnO4,
		sum(q_Salinity)q_Salinity,
		sum(q_Phosphate)q_Phosphate,
		sum(q_Sulfate)q_Sulfate,
		sum(q_NH42)q_NH42
		
		from 
		 ${tabName}
		
		where 1=1 and 
	r_id =#{R_ID} and cyc=#{cyc}   
		
		
	</select>
	<select id="selectMaxCyc" parameterType="pd" resultType="pd">
	select  * from conf_site_cyc  where r_id =#{R_ID} and cyc=(select max(cyc) from conf_site_cyc where r_id =#{R_ID})
	
	</select>
	
	
	
	<!-- 列表 -->
	<select id="list_poll_all_sum2" parameterType="pd" resultType="pd">
		select
		
		sum(q_An),
		sum(q_F),
		sum(q_S),
		sum(q_Poison),
		sum(q_tC2H2Cl2),
		sum(q_fC2H2Cl2),
		sum(q_CHCl3),
		sum(q_C2H2Cl2),
		sum(q_Benzene),
		sum(q_C2HCl3),
		sum(q_C7H8),
		sum(q_C2Cl4),
		sum(q_C6H5Cl),
		sum(q_C6H5C2H5),
		sum(q_C8H10),
		sum(q_C8H8),
			sum(q_C6H4CH32),
		sum(q_C9H12),
		sum(q_14C6H4Cl2),
		sum(q_12C6H4Cl2),
		sum(q_C2H3Cl),
		sum(q_C2H4O),
		sum(q_C3H4O),
		sum(q_11C2H2Cl2),
		sum(q_C3H3N),
		sum(q_CH2CClCHCH2),
		sum(q_CHBr3),
		sum(q_C10H16),
		sum(q_C4Cl6),
		sum(q_CH2Cl2),
		sum(q_OC),
		
		sum(q_C6H5NO2),
		sum(q_C6H4N2O4),
		sum(q_C6H3Cl3),
		sum(q_C6H4Cl2)

		
		from 
		 ${tabName}
		
		where 1=1 and 
	r_id =#{R_ID} and cyc=#{cyc}   
		
	</select>
	<!-- 列表 -->
	<select id="list_poll_all_sum3" parameterType="pd" resultType="pd">
		select
		
			sum(q_spare01),
			sum(q_spare02),
			sum(q_spare03),
			sum(q_spare04),
			sum(q_spare05),
			sum(q_spare06),
			sum(q_spare07),
			sum(q_spare08),
			sum(q_spare09),
			sum(q_spare10),
		    sum(q_spare11),
			sum(q_spare12),
			sum(q_spare13),
			sum(q_spare14),
			sum(q_spare15),
			sum(q_spare16),
			sum(q_spare17),
			sum(q_spare18),
			sum(q_spare19),
			sum(q_spare20),
			sum(q_spare21),
			sum(q_spare22),
			sum(q_spare23),
			sum(q_spare24),
			sum(q_spare25)
		
		from 
		 ${tabName}
		
		where 1=1 and 
	r_id =#{R_ID} and cyc=#{cyc}   
	</select>
	
	
	<!-- 列表 -->
	<select id="list_poll_hour_sum1" parameterType="pd" resultType="pd">
		select
		 r_id,	
		 str_time,
		 sy_time,
		 flow_total,
		 sum(flow_5min) flow_5min,
		sum(q_PH) q_PH,
		sum(q_temp)q_temp,
		sum(q_turbidity)q_turbidity,
		sum(q_conductivity)q_conductivity,
		sum(q_DO)q_DO,
		sum(q_COD)q_COD,
		sum(q_COD_Mn)q_COD_Mn,
		sum(q_NH4)q_NH4,
		sum(q_TOC)q_TOC,
		sum(q_TP)q_TP,
		sum(q_TN)q_TN,
		sum(q_NO3)q_NO3,
	    sum(q_Phe)q_Phe,
		sum(q_CN)q_CN,
		sum(q_chlorophyll)q_chlorophyll,
		sum(q_b_g_algae)q_b_g_algae,
		sum(q_FDOM)q_FDOM,
		sum(q_VOCs)q_VOCs,
		sum(q_nitrite)q_nitrite,
		sum(q_CrCl3_6H2O)q_CrCl3_6H2O,
		sum(q_Pb)q_Pb,
		sum(q_Cd)q_Cd,
		sum(q_Cu)q_Cu,
		sum(q_Hg)q_Hg,
		sum(q_As)q_As,
		sum(q_Fe)q_Fe,
		sum(q_Cr6)q_Cr6,
		sum(q_Mn)q_Mn,
		sum(q_Ni)q_Ni,
		sum(q_Zn)q_Zn,
		sum(q_tss)q_tss,
		sum(q_MnO4)q_MnO4,
		sum(q_Salinity)q_Salinity,
		sum(q_Phosphate)q_Phosphate,
		sum(q_Sulfate)q_Sulfate,
		sum(q_NH42)q_NH42
		
		from 
		${tabName}
		
		where 1=1 and 
	r_id =#{R_ID}   
	and sy_time&gt;=#{start_sy_time} and sy_time&lt;=#{end_sy_time}
		group by hour(str_time),DATE_FORMAT(str_time,'%Y-%m-%d')  order by str_time asc ;
		
	</select>
	
	
	
	
	<!-- 列表 -->
	<select id="list_poll_hour_sum2" parameterType="pd" resultType="pd">
		select
		
		sum(q_An),
		sum(q_F),
		sum(q_S),
		sum(q_Poison),
		sum(q_tC2H2Cl2),
		sum(q_fC2H2Cl2),
		sum(q_CHCl3),
		sum(q_C2H2Cl2),
		sum(q_Benzene),
		sum(q_C2HCl3),
		sum(q_C7H8),
		sum(q_C2Cl4),
		sum(q_C6H5Cl),
		sum(q_C6H5C2H5),
		sum(q_C8H10),
		sum(q_C8H8),
			sum(q_C6H4CH32),
		sum(q_C9H12),
		sum(q_14C6H4Cl2),
		sum(q_12C6H4Cl2),
		sum(q_C2H3Cl),
		sum(q_C2H4O),
		sum(q_C3H4O),
		sum(q_11C2H2Cl2),
		sum(q_C3H3N),
		sum(q_CH2CClCHCH2),
		sum(q_CHBr3),
		sum(q_C10H16),
		sum(q_C4Cl6),
		sum(q_CH2Cl2),
		sum(q_OC),
		
		sum(q_C6H5NO2),
		sum(q_C6H4N2O4),
		sum(q_C6H3Cl3),
		sum(q_C6H4Cl2)

		
		from 
		${tabName}
		
		where 1=1 and 
		r_id =#{R_ID} 
	and sy_time&gt;=#{start_sy_time} and sy_time&lt;=#{end_sy_time} 
		group by hour(str_time),DATE_FORMAT(str_time,'%Y-%m-%d')  order by str_time asc ;
		
		
	</select>
	<!-- 列表 -->
	<select id="list_poll_hour_sum3" parameterType="pd" resultType="pd">
		select
		
			sum(q_spare01),
			sum(q_spare02),
			sum(q_spare03),
			sum(q_spare04),
			sum(q_spare05),
			sum(q_spare06),
			sum(q_spare07),
			sum(q_spare08),
			sum(q_spare09),
			sum(q_spare10),
		    sum(q_spare11),
			sum(q_spare12),
			sum(q_spare13),
			sum(q_spare14),
			sum(q_spare15),
			sum(q_spare16),
			sum(q_spare17),
			sum(q_spare18),
			sum(q_spare19),
			sum(q_spare20),
			sum(q_spare21),
			sum(q_spare22),
			sum(q_spare23),
			sum(q_spare24),
			sum(q_spare25)
		
		from 
		${tabName}
		
		where 1=1 and 
		r_id =#{R_ID} 
	and sy_time&gt;=#{start_sy_time} and sy_time&lt;=#{end_sy_time}
		group by hour(str_time),DATE_FORMAT(str_time,'%Y-%m-%d')  order by str_time asc ;
		
		
	</select>
	
	
	<!-- 列表 -->
	<select id="list_poll_day_sum1" parameterType="pd" resultType="pd">
		select
		 r_id,	
		 str_time,
		 sy_time,
		 flow_total,
		 sum(flow_5min) flow_5min,
		sum(q_PH) q_PH,
		sum(q_temp)q_temp,
		sum(q_turbidity)q_turbidity,
		sum(q_conductivity)q_conductivity,
		sum(q_DO)q_DO,
		sum(q_COD)q_COD,
		sum(q_COD_Mn)q_COD_Mn,
		sum(q_NH4)q_NH4,
		sum(q_TOC)q_TOC,
		sum(q_TP)q_TP,
		sum(q_TN)q_TN,
		sum(q_NO3)q_NO3,
	    sum(q_Phe)q_Phe,
		sum(q_CN)q_CN,
		sum(q_chlorophyll)q_chlorophyll,
		sum(q_b_g_algae)q_b_g_algae,
		sum(q_FDOM)q_FDOM,
		sum(q_VOCs)q_VOCs,
		sum(q_nitrite)q_nitrite,
		sum(q_CrCl3_6H2O)q_CrCl3_6H2O,
		sum(q_Pb)q_Pb,
		sum(q_Cd)q_Cd,
		sum(q_Cu)q_Cu,
		sum(q_Hg)q_Hg,
		sum(q_As)q_As,
		sum(q_Fe)q_Fe,
		sum(q_Cr6)q_Cr6,
		sum(q_Mn)q_Mn,
		sum(q_Ni)q_Ni,
		sum(q_Zn)q_Zn,
		sum(q_tss)q_tss,
		sum(q_MnO4)q_MnO4,
		sum(q_Salinity)q_Salinity,
		sum(q_Phosphate)q_Phosphate,
		sum(q_Sulfate)q_Sulfate,
		sum(q_NH42)q_NH42
		
		from 
		${tabName}
		
		where 1=1 and 
	r_id =#{R_ID}
	and sy_time&gt;=#{start_sy_time} and sy_time&lt;=#{end_sy_time}
		group by DAY(str_time),DATE_FORMAT(str_time,'%Y-%m-%d')  order by str_time asc ;
		
	</select>
	
	
	
	
	<!-- 列表 -->
	<select id="list_poll_day_sum2" parameterType="pd" resultType="pd">
		select
		
		sum(q_An),
		sum(q_F),
		sum(q_S),
		sum(q_Poison),
		sum(q_tC2H2Cl2),
		sum(q_fC2H2Cl2),
		sum(q_CHCl3),
		sum(q_C2H2Cl2),
		sum(q_Benzene),
		sum(q_C2HCl3),
		sum(q_C7H8),
		sum(q_C2Cl4),
		sum(q_C6H5Cl),
		sum(q_C6H5C2H5),
		sum(q_C8H10),
		sum(q_C8H8),
			sum(q_C6H4CH32),
		sum(q_C9H12),
		sum(q_14C6H4Cl2),
		sum(q_12C6H4Cl2),
		sum(q_C2H3Cl),
		sum(q_C2H4O),
		sum(q_C3H4O),
		sum(q_11C2H2Cl2),
		sum(q_C3H3N),
		sum(q_CH2CClCHCH2),
		sum(q_CHBr3),
		sum(q_C10H16),
		sum(q_C4Cl6),
		sum(q_CH2Cl2),
		sum(q_OC),
		
		sum(q_C6H5NO2),
		sum(q_C6H4N2O4),
		sum(q_C6H3Cl3),
		sum(q_C6H4Cl2)

		
		from 
		${tabName}
		
		where 1=1 and 
		r_id =#{R_ID} 
	and sy_time&gt;=#{start_sy_time} and sy_time&lt;=#{end_sy_time} 
		group by DAY(str_time),DATE_FORMAT(str_time,'%Y-%m-%d')  order by str_time asc ;
		
		
	</select>
	<!-- 列表 -->
	<select id="list_poll_day_sum3" parameterType="pd" resultType="pd">
		select
		
			sum(q_spare01),
			sum(q_spare02),
			sum(q_spare03),
			sum(q_spare04),
			sum(q_spare05),
			sum(q_spare06),
			sum(q_spare07),
			sum(q_spare08),
			sum(q_spare09),
			sum(q_spare10),
		    sum(q_spare11),
			sum(q_spare12),
			sum(q_spare13),
			sum(q_spare14),
			sum(q_spare15),
			sum(q_spare16),
			sum(q_spare17),
			sum(q_spare18),
			sum(q_spare19),
			sum(q_spare20),
			sum(q_spare21),
			sum(q_spare22),
			sum(q_spare23),
			sum(q_spare24),
			sum(q_spare25)
		
		from 
		${tabName}
		where 1=1 and 
		r_id =#{R_ID} 
	and sy_time&gt;=#{start_sy_time} and sy_time&lt;=#{end_sy_time}
		group by DAY(str_time),DATE_FORMAT(str_time,'%Y-%m-%d')  order by str_time asc ;
		
		
	</select>
	
	
	
</mapper>